.footer{
    font-family: serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(7, 33, 54,1); */
    height: 100px;
    width: 100%;
    /* color: white; */
    position: relative;
    top:0;
    /* border: 1px solid white; */
}