.registersection{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(63, 96, 26); */
  background: rgb(0,54,103);
  background: linear-gradient(90deg, rgba(0,54,103,1) 25%, rgba(0,0,77,1) 75%);
  /* padding: 20px; */
  color: rgb(29, 29, 29);
  width: 80%;
  height: 500px;
  /* border-radius: 5px; */
  border: 1px solid rgb(27, 27, 27);
}
.roles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100%;
    background: linear-gradient(180deg, #18212a, #00687a);
}
.register-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: white;
    width: 50%;
}
.register-header{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    color: black;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 300px; */
    /* padding: 20px; */
    /* color: white; */
    border-radius: 5px;
}
.input{
  background: rgba(0, 0, 0, 0.05);
    margin-top: 30px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid white;
    /* border: none; */
    color: rgb(25, 25, 25);
    width: 95%;
}
.select{
    margin-top: 25px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 150px;
    text-align: center;
    color: white;
    background-color: rgb(150, 201, 83);
}
option{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 200px;
    background-color: rgb(92, 96, 87);
    text-align: center;
}
.btn{
    margin-top: 20px;
    padding: 10px;
    border-radius: 50px;
    font-size: 15px;
    border: none;
    width: 95%;
    color: white;
    background: #f35588;
    cursor: pointer;
    /* background-color: rgb(25, 77, 196); */
}
.registerbtn{
  /* margin-top: 20px; */
  padding: 10px;
  font-size: 0.8rem;
  border-radius: 50px;
  color: white;
  border: none;
  width: 40%;
  cursor: pointer;
  background-color: rgb(58, 117, 255);
}
.roles{
  width: 90%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 15px;
}




