.cont{
    margin: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
}
.imagebox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    /* border: 2px solid red; */
    height: 100%;
}
.profilephoto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
    height: 100%;
    gap: 15px;
}
#profileimage{
    display: flex;
}
.profileimg{
    width: 220px;
    height: 210px;
    border: 2px solid #000000;
    border-radius: 50px;
}




.file-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    width: 60%;
  }
  .file-input {
    display: none; /* Hide the default file input */
  }
  .file-input-label {
    display: block;
    padding: 10px;
    background-color: #000fea;
    text-align: center;
    border: 2px dashed #aaa;
    cursor: pointer;
    width: 100%;
  }
  .file-name {
    display: none;
    margin-top: 10px;
    /* color: #333; */
  }










.datapara{
    font-size: 16px;
}
.mai{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.alldetail{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
.inputboxpro{
    width: 65%;
    margin: 10px;
    font-size: 16px;
    /* color: white; */
    border-radius: 5px;
    background-color: transparent;
}
.firstdetailbox{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.seconddetilbox{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
label{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    font-size: 16px;
    /* padding: 4px; */
    /* margin: 0px; */
}
.il{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* height: 45px; */
    margin: 4px;
}
.butts{
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subtn{
    padding: 8px;
    background-color: rgb(75, 75, 255);
}
.canl{
    padding: 8px;
    background-color: rgb(245, 184, 72);
}