.facultydashcontainer{
    width: 100%;
    height: 100%;
}
.timetable-container {
    width: 80%;
    margin: 0 auto;
}

.timetable-form {
    display: flex;
    color: green;
    flex-direction: column;
    gap: 10px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.timetable-form label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-bottom: 10px;
}
#classinputbox{
    width: 85%;
}
.day-section {
    margin-bottom: 20px;
}
#daytimebox{
    width: 85%;
}
#tableinputbox{
    width: 90%;
}

.slot-section {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    gap: 20px;
}

.add-slot-btn, .add-day-btn, .submit-btn, .cancel-edit-btn {
    background-color: #007bff;
    /* color: white; */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.add-slot-btn:hover, .add-day-btn:hover, .submit-btn:hover, .cancel-edit-btn:hover {
    background-color: #0056b3;
}

.timetable-list {
    margin-top: 30px;
}

.timetable-card {
    background-color: #ffffff;
    color: black;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.timetable-card h3, .timetable-card h4 {
    margin: 0;
}

.edit-btn, .delete-btn {
    background-color: #28a745;
    /* color: white; */
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.editbtn{
    background-color: #007bff;
    /* color: white; */
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.delete-btn {
    background-color: #dc3545;
}

.edit-btn:hover, .delete-btn:hover {
    opacity: 0.8;
}









/*************************** All time tables *************************/

.alltimetable-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    color: black;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}