/* .faculty-sidebar {
    font-family: serif;
    width: 20%;
    background-color: #0d0d2b;
    border-right: 2px solid #b9b9bc;
}

.faculty-sidebar .side-links {
    list-style-type: none;
    padding: 15px;
}

.faculty-sidebar li {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    padding: 8px 0;
}

.faculty-sidebar .alist {
    display: flex;
    flex-direction: row;
    padding: 8px;
    justify-content: start;
    align-items: center;
}

.faculty-sidebar .ad-min {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.faculty-sidebar .toggle-btn {
    background: transparent;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

.faculty-sidebar .faculty-list,
.faculty-sidebar .attendence-list,
.faculty-sidebar .assignment-list,
.faculty-sidebar .subject-list,
.faculty-sidebar .department-list,
.faculty-sidebar .designation-list {
    padding-left: 20px;
    margin-left: 15px;
    list-style-type: square;
}

.faculty-sidebar .faculty-list li,
.faculty-sidebar .attendence-list li,
.faculty-sidebar .assignment-list li,
.faculty-sidebar .subject-list li,
.faculty-sidebar .department-list li,
.faculty-sidebar .designation-list li {
    padding: 5px 0;
}

.faculty-sidebar svg {
    margin-right: 8px;
} */


