.student-sidebar {
    font-family: serif;
    width: 20%;
    background-color: #0d0d2b;
    border-right: 2px solid #b9b9bc;
}

.student-sidebar .side-links {
    list-style-type: none;
    padding: 15px;
}

.student-sidebar li {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    padding: 8px 0;
}

.student-sidebar .alist {
    display: flex;
    flex-direction: row;
    padding: 8px;
    justify-content: start;
    align-items: center;
}

.student-sidebar .ad-min {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.student-sidebar .toggle-btn {
    background: transparent;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

.student-sidebar .student-list {
    padding-left: 20px;
    margin-left: 15px;
    list-style-type: square;
}

.student-sidebar .student-list li {
    padding: 5px 0;
}

.student-sidebar svg {
    margin-right: 8px;
}
.arrow-list{
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.student-toggle-btn{
    background: transparent;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-left: auto;
}