.application-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    /* border: 2px solid red; */
}
.app-container{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(36, 47, 60);
    height: 100%;
    /* width: 80vw; */
}
.app-reg{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.form-group{
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-form{
    display: flex;
    flex-wrap: wrap;
    /* background-color: green; */
}
.form-input{
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
} 
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.Reg-btn{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
}
#dob{
    width: 100%;
}